@media (max-width: 1200px) {
	div[class*="__wrapper-1"] {
		width: 940px;
	}
	.sec-3__grid__block:last-child {
		background-position: 72.5% 0%;
	}
	.sec-4__block:last-child {
		background-position: 20% 0%!important;
	}
	.sec-4__block__subtitle {
		margin-right: 20px;
	}
}
@media (max-width: 992px) {
	div[class*="__wrapper-1"] {
		width: 720px;
	}
	.sec-2__block__subtitle {
		margin: 35px 10px;
	}
	.sec-2__wrapper-2 {
		height: calc(100% - 29px)!important;
	}
	.sec-2__grid__block:first-child {
		background-size: 100%!important;
	}
	.sec-3__grid__block:last-child {
		background-position: 82.5% 0%;
	}
	.sec-3__grid__block:first-child {
		padding-left: 0;
	}
	.sec-3__block__subtitle {
		margin-top: 12px;
	}
	.sec-4 {
		height: 700px!important;
	}
	.sec-4__grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	.sec-4__block__subtitle {
		margin-right: 30px;
	}
	.sec-4__block:last-child {
		background-position: center!important;
	}
	.sec-5__wrapper-2 {
		height: calc(100% - 122px)!important;
	}
	.sec-5__grid {
		grid-template-areas: 
		'a b'
		'c c';
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
	.sec-5__grid__block:last-child {
		display: flex;
	}
	.sec-5__grid__block:last-child > .sec-5__block {
		flex: 0 0 33.333333%;
		align-items: center;
		padding: 0;
	}
	.sec-5__grid__block:last-child > .sec-5__block > * {
		text-align: center;
	}
	.sec-6 {
		background-position: 73.5% 0%!important;
	}
	.sec-7__block:last-child {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-row-gap: 10px;
	}
	.sec-7__block__elem__subtitle {
		margin: 8px 15px 20px 0px;
	}
}
@media (max-width: 768px) {
	div[class*="__wrapper-1"] {
		width: 540px;
	}
	.sec-1 {
		background-position: 10% 90%;
	}
	.sec-2__grid {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}
	.sec-2__grid__block:last-child {
		padding-right: 10px;
	}
	.sec-2__block__title {
		margin-left: 0;
	}
	.sec-2__block__subtitle {
		text-align: justify;
	}
	.sec-3__grid__block:first-child {
		padding: 0px 10px;
	}
	.sec-3__grid {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}
	.sec-4__grid {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
	}
	.sec-4 {
		height: 1200px!important;
	}
	.sec-5__grid {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas: 
		'a'
		'b'
		'c';
	}
	.sec-5__grid__block:nth-child(2) {
		background-size: 88%;
	}
	.sec-5__grid__block:last-child {
		display: grid;
	}
	.sec-5__grid__block:first-child > .sec-5__block{
		align-items: center;
		text-align: center;
	}
	.sec-5__grid__block:first-child > .sec-5__block > *,
	.sec-5__grid__block:last-child > .sec-5__block > * {
		margin-left: 0;
		margin-right: 0;
	} 
	.sec-5__block {
		padding: 0px;
	}
	.sec-6__block {
		width: 70%;
	}
	.sec-7__block:first-child {
		width: 100%;
		text-align: center;
	}
	.sec-7__block:last-child {
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 10px;
	}
}
@media (max-width: 575px) {
	div[class*="__wrapper-1"] {
		width: 340px;
	}
	.sec-1 {
		height: 600px;
	}
	.sec-1__block__subtitle {
		margin-top: 5px;
	}
	.sec-2 {
		height: 680px;
	}
	.sec-3__grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 0.5fr;
	}
	.sec-3__grid__block:last-child {
		background-position: 50% 0%;
	}
	.sec-5__grid__block:nth-child(2) {
		background-size: cover;
	}
	.sec-5__block {
		padding: 0px;
	}
	.sec-6__block {
		width: 100%;
		padding: 0px 10px;
	}
	.sec-6 {
		min-height: 500px!important;
		background-position: 85% 0%!important;
	}
	.sec-7__block:last-child {
		grid-row-gap: 0px;
	}
}
@media (max-width: 420px) {
	div[class*="__wrapper-1"] {
		width: 250px;
	}
	.sec-1 {
		height: 500px;
	}
	.sec-1__block__title {
		font-size: 75px;
	}
	.sec-1__block__subtitle {
		margin-top: 10px;
		font-size: 16px;
	}
	.sec-2 {
		height: 521px;
	}
	.sec-2__grid {
		grid-template-columns: 1fr;
		grid-template-rows: 100px 400px;
	}
	.sec-2__block__title {
		font-size: 24px;
		margin-top: 15px;
	}
	.sec-2__block__subtitle {
		font-size: 14px;
		margin: 25px 0px 25px 10px;
	}
	.sec-3__block__title2 {
		font-size: 28px;
		margin-top: 0;
	}
	.sec-3__block__btn {
		padding: 7px 20px;
		font-size: 12px;
	}
	.sec-3__block__subtitle,
	.sec-3__block__subtitle ~ p {
		font-size: 14px;
	}
	.sec-3__grid__block:last-child {
		background-position: 75% 0%;
	}
	.sec-4 {
		height: 1100px!important;
	}
	.sec-4__block__title,
	.sec-6__block__title2 {
		font-size: 28px;
	}
	.sec-4__block__subtitle,
	.sec-5__block__text,
	.sec-6__block__subtitle {
		font-size: 14px;
	}
	.sec-4__block__btn {
		padding: 7px 20px;
		font-size: 12px;
		margin-top: 0;		
	}
	.sec-5__block__img {
		margin-top: 15px;
		width: 38px;
		height: 38px;
	}
	.sec-5__block__btn {
		margin-top: 15px!important;
		padding: 7px 20px!important;
		font-size: 12px!important;
	}
	.sec-5__grid__block:nth-child(2) {
		background-size: 75%;
	}
	.sec-5__grid {
		grid-template-rows: 1fr 0.5fr 1fr;
	}
	.sec-3__block__title5,
	.sec-6__block__title5,
	.sec-7__block__elem__title,
	.sec-7__block__elem__subtitle {
		font-size: 16px;
	}
	.sec-6__block__btn {
		padding: 7px 20px;
		font-size: 12px;
	}
	.sec-7__block__title {
		font-size: 28px;
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media (max-width: 320px) {
	.sec-1 {
		height: 400px;
	}
	.sec-1__block__title {
		font-size: 60px;
	}
	.sec-1__block__subtitle {
		font-size: 13px;
	}
}