@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(106, 166, 166, 0.8);
	border-radius: 12px;
	border: 4px solid #000;
}
::-webkit-scrollbar-track {
	background-color: rgb(10, 10, 10);
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	word-wrap: break-word;
}
p {
	font-family: 'Open Sans', sans-serif, 'Comfortaa', cursive;
	word-wrap: break-word;
}
a {
	text-decoration: none;
	color: #000;
}
div[class*="wrapper-1"] {
	width: 1140px;
	height: inherit;
	margin: 0 auto;
}
div[style*="background-image"],
section[style*="background-image"] {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.fix::after,
.fix::before {
    content: '';
    display: table;
}
body, html {
    width: 100%;
    height: 100%;
}
.sec-1 {
	height: 100vh;
	color: #fff;
}
.sec-1__wrapper-1 {
	display: flex;
	justify-content: center;
}
.sec-1__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 310px;
	margin-top: 20px;
	padding: 0px 20px;
}
.sec-1__block__title,
.sec-1__block__subtitle {
	text-align: center;
	margin-top: 20px;
}
.sec-1__block__title {
	font: 128px "Lato";
	text-transform: uppercase;
	letter-spacing: 10px;
	line-height: 1.1;
}
.sec-1__block__subtitle {
	font: normal 20px "Comfortaa", cursive;
	margin: 20px 0px 30px 0px;
}
.sec-2 {
	min-height: 462px;
	background-color: #111;
	color: #fff;
}
.sec-2__wrapper-2 {
	margin: 29px auto;
	height: calc(462px - 29px);
}
.sec-2__container {
	height: 100%;
}
.sec-2__grid {
	height: inherit;
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.sec-2__grid__block:last-child {
	padding-right: 20px;
	text-align: right;
	align-self: center;
}
.sec-2__block__title {
	margin-left: -149px;
	margin-top: 30px;
	font: bold 36px "Lato";
	line-height: 1.1;
}
.sec-2__block__subtitle {
	font: 16px "Open sans";
	line-height: 1.6;
	margin: 20px 0px 30px 20px;
}
.sec-3 {
	min-height: 571px;
	background-color: #f2f2f2;
}
.sec-3__wrapper-2 {
	margin: 46px auto;
	min-height: calc(571px - 92px);
}
.sec-3__container {
	height: 100%;
}
.sec-3__grid {
	height: inherit;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.sec-3__grid__block:first-child {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 20px;
}
.sec-3__block__title2,
.sec-3__block__title5,
.sec-3__block__subtitle, span {
	color: #000;
}
.sec-3__block__title2 {
	margin-top: 28px;
	font: bold 36px "Lato";
	line-height: 1.1;
}
.sec-3__block__title5 {
	margin-top: 14px;
	font: normal 20px "Comfortaa";
	line-height: 1.2;
}
.sec-3__block__subtitle {
	margin-top: 20px;
	font: normal 16px "Open sans";
	line-height: 1.6;
}
.sec-3__block__subtitle ~ p {
	color: #000;
	margin-top: 20px;
	font: normal 16px "Open sans";
	line-height: 1.6;
}
.sec-3__block__btn {
	border: 2px solid rgb(69, 69, 69);
	color: rgb(69, 69, 69);
	padding: 12px 30px;
	margin-top: 20px;
	margin-bottom: 28px;
	border-radius: 33px;
	font: 700 14px "Open sans";
	letter-spacing: 1px;
}
.sec-3__block__btn:hover {
	background-color: rgb(69, 69, 69);
	color: #fff;
}
.sec-4 {
	height: 486px;
}
.sec-4__grid {
	height: inherit;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.sec-4__block:nth-child(3) > * {
	color: #fff;
	padding-left: 20px;
}
.sec-4__block__inblock {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.sec-4__block__title {
	margin-top: 20px;
	font: bold 36px "Lato";
	line-height: 1.1;
}
.sec-4__block__subtitle {
	margin: 20px 0px;
	margin-right: 30px;
	font: normal 16px "Open sans";
	line-height: 1.6;
}
.sec-4__block__btn {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 12px 30px;
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 33px;
	font: 700 14px "Open sans";
	letter-spacing: 1px;
}
.sec-4__block__btn:hover {
	background-color: #fff;
	color: #000;
	border: 2px solid #fff;
}
.sec-5 {
	min-height: 836px;
	background-color: #111;
	color: #fff;
}
.sec-5__wrapper-2 {
	margin: 61px auto;
	height: calc(836px - 122px);
}
.sec-5__container {
	height: 100%;
}
.sec-5__grid {
	height: inherit;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: 
	'a b c';
}
.sec-5__grid__block:first-child,
.sec-5__grid__block:last-child {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}
.sec-5__grid__block:last-child {
	text-align: right;
}
.sec-5__block {
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.sec-5__block__img {
	margin-top: 28px;
	width: 48px;
	height: 48px;
	filter: invert(100%);
}
.sec-5__block__text {
	margin: 20px 20px 0px 0px;
	font: normal 18px "Comfortaa";
	line-height: 1.6;
}
.sec-5__grid__block:last-child > .sec-5__block > * {
	margin: 20px 0px 0px 20px;
}
.sec-5__grid__block:last-child > .sec-5__block {
	padding-right: 20px;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.sec-5__block > a {
	margin-top: 20px;
	color: rgb(69, 69, 69);
	background-color: transparent;
	border: 2px solid rgb(69, 69, 69);
	padding: 12px 30px;
	border-radius: 33px;
	font: 700 14px "Open sans";
}
.sec-5__block > a:hover {
	color: #fff;
	background-color: rgb(69, 69, 69);
}
.sec-6 {
	min-height: 566px;
	display: flex;
	align-items: center;
	color: #fff;
}
.sec-6__container {
	height: 100%;
	display: flex;
}
.sec-6__block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
	padding: 0px 20px;
}
.sec-6__block__title2 {
	margin-top: 20px;
	font: bold 36px "Lato";
	line-height: 1.1;
}
.sec-6__block__title5 {
	margin-top: 20px;
	font: normal 20px "Comfortaa";
	line-height: 1.2;
}
.sec-6__block__subtitle {
	margin-top: 20px;
	font: normal 16px "Open sans";
	line-height: 1.6;
}
.sec-6__block__btn {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 12px 30px;
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 33px;
	font: 700 14px "Open sans";
	letter-spacing: 1px;
}
.sec-6__block__btn:hover {
	background-color: #fff;
	color: #000;
}
.sec-7 {
	min-height: 430px;
	color: #fff;
}
.sec-7__container {
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.sec-7__block:first-child {
	width: 50%;
}
.sec-7__block:last-child {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 10px;
}
.sec-7__block__title {
	margin: 20px;
	margin-top: 40px;
	margin-bottom: 30px;
	font: bold 36px "Lato";
	line-height: 1.1;
}
.sec-7__block__elem {
	padding: 0px 20px;
}
.sec-7__block__elem__title {
	margin-top: 20px;
	font: normal 20px "Comfortaa";
	line-height: 1.2;
}
.sec-7__block__elem__subtitle {
	margin: 8px 15px 30px 0px;
	font: normal 14px "Open sans";
	line-height: 1.6;
}